.approach {


  .container{
    position: relative;
  }

  &__intro {

    @include media('<=desktop') { margin-bottom: spacer(8); }
    @include media('<=tablet'){ margin-bottom: spacer(2); }
  }

  @include media('>desktop') {

    &[data-count="3"] &__intro {
      margin-left: 5%;
      width: 30%;
    }

    &[data-count="2"] &__intro {
      width: 50%;
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;

    margin-top: spacer(8);
    margin-bottom: spacer(8);

    @include media('>desktop') {
      display: flex;
      justify-content: space-around;
    }
    @include media('<=tablet'){ margin-top: 0 !important; margin-bottom: spacer(14) }
  }

  &__item {

    @include media('<=tablet'){ opacity: 1; }
    @include media('<=phone'){ margin-top: 0 !important; }
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25em;
    padding: 3em;
    font-size: .9em;
    color: white;
    position: relative;

    @include media('<=700px') {
      margin: 15em auto;
    }

    @include media('>700px', '<=desktop') {
      margin-left: 10%;
      margin-top: 15%;

      &:nth-child(2) {
        margin-left: auto;
        margin-right: 10%;
      }
    }

    @include media('>desktop') {
      flex: 0 0 auto;
      width: 30vw;

      &:nth-child(2) {
        transform: translateY(-70%);
      }
    }

    // Needed for Safari, can't only use :before
    // https://stackoverflow.com/a/17607387/758728
    &__background {
      box-shadow: 0px 25px 75.69px 11.31px rgba(4, 1, 3, 0.15);
      flex: 0 0 auto;
      width: 110%;
      body.nos-partenaires & { width: 125%; }
      position: absolute;
      top: 50%; left: 50%;
      border-radius: 35%;
      background-image: linear-gradient(to top right, $blue, $green);
      transform: translate(-50%,-50%) rotate(45deg);

      &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    &__logo {
      @include media('<=tablet'){ opacity: 1; transform: translateY(-100%)!important; }
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 10em;
      position: absolute;
      top: 10%; right: 10%;
      z-index: 1;
      padding: 2em;
      transform: translateY(-100%);
      text-decoration: none;

      img{ transition: transform .15s ease-out; }
      &:hover{
        img{ transform: scale(1.1); }
      }

      @include ie11() {

        > * {
          text-decoration: none;
          display: inline-block;
          max-width: 100%;
        }
      }

      // Needed for Safari, can't only use :before
      // https://stackoverflow.com/a/17607387/758728
      &__background {
        flex: 0 0 auto;
        width: 100%;
        position: absolute;
        top: 50%; left: 50%;
        z-index: -1;
        border-radius: 25%;
        background-color: $white;
        transform: translate(-50%,-50%) rotate(45deg);
        box-shadow: 5px 5px 30px rgba(black,.15);

        &:before {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }

      img {
        width: 4em; height: 4em;
        margin-top: -1em;
      }

      strong {
        color: $green-text;
        text-align: center;
        line-height: 1.2;
      }
    }

    &__text {
      display: block;
      z-index: 1;

      @include ie11() {
        display: inline-block;
        max-width: 100%;
      }
    }

    $h: 2.5em;

    &__links {
      height: $h;
      color: $gray;
      border-radius: $h/2;
      position: relative;
      filter: drop-shadow(0 5px 10px rgba($black, 0.15));
      transform: translateZ(0); // Fix 1px holes between items

      &:hover,
      &:focus {

        &:after {
          display: none;
        }
      }

      &:after {
        content: '▾';
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        position: absolute;
        top: 0; right: 0;
        height: $h/1.5;
        width: $h/1.5;
        background-color: $orange;
        color: white;
        border-radius: 0 $h/3 $h/3 0;
      }

      @include ie11() {
        display: block;
        width: 100%;
      }
    }

    &__links:hover &__link,
    &__links:focus &__link {
      display: flex;

      &:first-child {
        border-radius: $h/2 $h/2 0 0;
      }
    }

    &__link {

      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: white;
      color: inherit;
      height: $h;
      line-height: 1.2em;
      padding: 0 1em;
      text-decoration: none;
      width: 250px;

      &:hover,
      &:focus {
        background-color: mix($orange,white,10);
      }

      &:not(:first-child) {
        display: none;
        height: auto;
        padding: 10px 1em;
      }

      &:first-child {
        border-radius: $h/2;
      }

      &:last-child {
        border-radius: 0 0 $h/2 $h/2;
      }
    }
  }

  &__decoration{
    z-index: -1;
      @include media('<desktop'){ display: none; }

    &:nth-child(1){
      position: absolute;
      left: -17vw;
      top: 15vw;
      transform: translateY(-100%);
      @include media('<large'){ left: -22vw }
    }
    &:nth-child(2){
      position: absolute;
      left: -17vw;
      top: 100%;
      transform: translateY(100%);
      @include media('<large'){ left: -22vw }
    }
    &:nth-child(3){
      position: absolute;
      right: -17vw;
      top: 15vw;
      transform: translateY(-100%);
      @include media('<large'){ right: -22vw }
    }
  }
}
