.calltoaction {

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: spacer(4);
    margin-bottom: spacer(4);

    @include media('<400px') {
      margin-left: spacer(-3);
      margin-right: spacer(-3);
      font-size: .9em;
    }
  }

  &__item {
    flex: 0 0 auto;
    width: 50%;
    padding: 7%;

    @include media('>desktop') {
      font-size: 1.25em;
    }

    @include media('>phone', '<=tablet') {
      font-size: 1.25em;
    }
  }

  &__item:not(:only-child):nth-child(odd):not(:last-child) {
    margin-top: -2em;
    margin-bottom: 8em;
    margin-right: -2em;
    margin-left: 0em;
  }

  &__item:not(:only-child):nth-child(odd):last-child {
    margin-right: 10em;
    margin-top: -2em;
  }

  &__item:not(:only-child):nth-child(even) {
    margin-top: 4em;
    margin-bottom: -2em;
    margin-left: -2em;
  }

  &__item:nth-child(odd) &__link:before {
    background-image: linear-gradient(to top right, $blue, $green);
  }

  &__item:nth-child(even) &__link:before {
    background-image: linear-gradient(to top right, $orange, $green);
  }

  &__link {
    display: block;
    font-family: $cursive;
    text-decoration: none;
    color: $white;
    text-align: center;
    line-height: 1.4;
    position: relative;
    filter: drop-shadow(0 5px 10px rgba($black, 0.15));

    &:before {
      content: '';
      width: 100%;
      padding-bottom: 100%;
      position: absolute;
      top: 60%; left: 50%;
      z-index: -1;
      transform: translate(-50%,-50%) rotate(45deg);
      border-radius: 30%;
      background-color: $green-text;
    }

    .fa {
      display: block;
      font-size: 1.5em;
      margin-bottom: .5em;
    }
  }
}
