.cases {

  &__list {
    margin: 90px 0;
    display: flex;
    justify-content: center;
    margin: spacer(-1);
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    width: 16em;
    flex: 0 0 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: spacer(1);
    position: relative;
    z-index: 0;
    transform: perspective(100px) translateZ(0);
    transition: transform 250ms;

    &:hover,
    &:focus {
      transform: perspective(100px) translateZ(10px);

      &:before {
        box-shadow: 5px 5px 30px 10px rgba($black,.15);
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%) rotate(45deg) scale(.8);
      width: 100%;
      padding-bottom: 100%;
      z-index: -1;
      border-radius: 25%;
      background-color: white;
      // background-image: linear-gradient(to top right, $blue, $green);
      box-shadow: 5px 5px 20px rgba($black,.25);
      transition: box-shadow 250ms;
    }

    strong {
      display: none;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0; left: 0;
      z-index: 1;
      width: 7em; height: 7em;
      color: $green-text;
      font-size: .85em;
      transform: translateY(-100%);

      &:before {
        content: '';
        position: absolute;
        top: 50%; left: 50%;
        width: 100%;
        padding-bottom: 100%;
        z-index: -1;
        border-radius: 25%;
        background-color: $white;
        box-shadow: 10px 10px 20px rgba($black,.15);
        transform: translate(-50%,-50%) rotate(45deg) scale(.8);
      }
    }

    img {
      position: relative;
      z-index: 1;
      align-self: center;
    }
  }
}
