.cover {
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  @include media('>desktop') {

    & + .wp-block-image img {
      margin-top: spacer(-10);
      border-radius: .25em;
      box-shadow: 0 10px 30px rgba(black,.15);
      position: relative;
      z-index: 2;
    }
  }

  @include media('>desktop') {
    overflow: hidden;
  }

  &:not(&-alternate):first-child {

    @include media('>large') {
      padding-top: spacer(6);
      padding-bottom: spacer(6);
    }

    @include media('<=large') {
      padding-top: 100px; // header
      padding-bottom: 120px; // header
    }

    @include media('<=desktop') {
      padding-bottom: spacer(2);
    }
  }

  &:not(&-alternate) {
    color: $white !important;

    h1, h2, h3, h4, h5, h6 {
      color: $white !important;
    }
  }

  &:not(&-alternate) {

    // Color overlay
    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      z-index: -1;
      background-image: linear-gradient(to right, rgba($blue,.85), rgba($green,.85));
      pointer-events: none;
    }
  }

  @include media('>desktop') {

    // Alveole mask
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 55%;
      z-index: -1;
      border-radius: 25%;
      box-shadow: 0 0 0 100vw $white;
      width: 100%;
      padding-bottom: 100%;
      transform: translate(-63%,-11%) rotate(-45deg);
      pointer-events: none;

      body.home & {
        left: 75%;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -2;

    img {
      display: block;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }

  &-alternate &__background {

    @include media('<=tablet') {
      display: block;
      position: static;
      margin-top: spacer(-2);
      margin-bottom: spacer(2);
    }
  }

  .wysiwyg {
    display: flex;
    align-items: center;
    position: relative;

    body.home & { margin-left: 10%; }
    @include media('<=tablet'){
      flex-direction: column;
    }
    @include media('>desktop') {
      min-height: 20em;
      max-width: 30%;
      margin-left: 20%;
    }
  }

  &-alternate .wysiwyg {

    @include media('>tablet') {
      padding-top: 200px;
      padding-bottom: spacer(8);
    }
  }

  &__text {
    a{ color: white !important;}
    flex: 1 1 auto;
    max-width: 40em;

    body.home & {
      position: relative;
      z-index: 10;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    // Jobs
    &__icon {

      &:not(:first-child) {
        margin-top: 1em;
        margin-left: 1.25em;
      }

      .fa {
        margin-right: .3em;
      }

      &-domain .fa:before {
        content: '\f085'; // https://fontawesome.com/icons/cogs
      }

      &-place .fa:before {
        content: '\f041'; // https://fontawesome.com/icons/map-marker-alt
      }

      &-type .fa:before {
        content: '\f15b'; // https://fontawesome.com/icons/file
      }
    }
  }

  &__backlink {
    display: inline-flex;
    align-items: baseline;
    color: inherit;
    text-decoration: none;
    font-family: $cursive;
    margin-top: spacer();

    svg {
      width: .9em;
      height: .9em;
      margin-right: 1em;
    }
  }

  &__logo {
    flex: 0 0 auto;
    margin-left: spacer();
    position: relative;
    z-index: 2;

    @include media('>desktop') {
      margin-right: -18em;
      margin-left: 0;
    }

    .alveole {
      width: 16em;
      padding-bottom: 16em;
      background-color: white;

      img {
        margin: 10%;
        width: 80%;
        height: auto;
        margin: auto;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    color: $orange;
    width: 5em; height: 5em;
    position: absolute;
    z-index: 2;
    left: 60%; top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    @include media('<=tablet') {
      width: 4em; height: 4em;
      left: 50%; top: spacer(20);
      transform: translate(-50%,-50%);
    }

    @include media('<=phone') {
      top: spacer(10);
    }

    svg {
      width: 100%;
      height: 100%;
      path {
        transition: stroke-dashoffset 1s linear;
      }
    }
    &[data-emergence="visible"] svg path { stroke-dashoffset: 0 !important; }
    &[data-emergence="visible"] svg:hover path { stroke-dashoffset: 240 !important; }
  }

  iframe {

    max-width: 100%;
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 40;
    transform: translate(-50%,-50%);
    outline: 100vw solid rgba($black,.75);
    box-shadow: 0 20px 20px -10px black;
    background-color: black;
  }

  &.is-active iframe {
    display: block;
  }
}
