.details {

  &__list {
    list-style: none;
    margin: 0;

    @include media('>tablet') {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-auto-flow: row;
      grid-row-gap: spacer();
    }

    @include ie11() {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__icon {
    margin-left: 5%;
    margin-right: 5%;
  }

  dt {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, $blue, $green);
    color: $white;
    padding: 1em;

    @include media('>tablet') {
      clip-path: polygon(0 0, calc(100% - 2em) 0, 100% 50%, calc(100% - 2em) 100%, 0 100%);
    }

    @include media('<=tablet') {
      margin-top: spacer(2);
      margin-bottom: spacer();
    }

    @include ie11() {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(50% - 4%);
      margin-top: spacer(2);
      margin-bottom: spacer();
    }

    h3 {
      color: inherit;
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }
  }

  dd {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: spacer();
    @include ie11() {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(50% - 4%);
      margin-top: spacer(2);
      margin-bottom: spacer();
    }
  }

  .btn {
    flex: 0 0 auto;
    align-self: center;
    justify-self: center;
    padding: 1em;
    width: 3em;
    height: 3em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      top: .15em; left: .15em; right: .15em; bottom: .15em;
      z-index: -1;
      background-color: $orange;
      border-radius: 25%;
      transform: rotate(45deg);
    }
  }
}
