.features {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr) ) ;
    grid-gap: spacer(2);
    list-style: none;
    margin: 0;

    @include ie11() {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex-basis: calc(33% - #{$spacer*4});
        flex-grow: 1;
        flex-shrink: 0;
        margin: spacer();
        margin-top: 100px;
      }
    }
  }

  &__item {
    $h: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2em;
    border: 1px solid rgba(black,.2);
    padding: spacer();
    margin: $h/2 3em 0 3em;

    @include ie11() {

      > * {
        display: inline-block;
        max-width: 100%;
      }
    }

    &__icon {
      width: $h;
      height: $h;
      margin-top: calc(#{-$h/2} - #{$spacer});
      display: flex;
      align-items: center;
      justify-content: center;

      .fa {
        width: 1em; height: 1em;
        font-size: 2em;
        color: $white;
      }
    }

    &:nth-child(odd) &__icon .alveole {
      background-image: linear-gradient(to top right, $blue, $green);;
    }

    &:nth-child(even) &__icon .alveole {
      background-image: linear-gradient(to top right, $orange, $green);;
    }

    &__title {
      font-weight: bold;
      font-size: 1.25em;
      color: $green-text;
    }

    &__text {
      margin-bottom: spacer(.5);
      color: $gray-light;
    }

    .btn {
      margin-top: auto;
    }
  }
}
