.highlight {
  background: center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: $white;
  padding: spacer(4);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background-color: $green-text;
    opacity: .75;
  }

  @supports(mix-blend-mode: color) {

    &:after {
      mix-blend-mode: color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white !important;

    &:after {
      @extend .wp-block-separator;
      content: '';
      background: currentColor !important;
    }
  }
}
