.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: spacer(-.5);
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    width: 8em;
    flex: 0 0 10em;
    text-align: center;
    margin: spacer(.5);
    font-weight: bold;
    color: $gray-light;

    > i {
      display: inline-block;
      font-size: 3em;
      color: $green-text;
      margin-top: 1em;
      margin-bottom: 1.5em;
      position: relative;

      // Outer circle
      &:after {
        $iconBorderWidth: 150px;
        content: '';
        position: absolute;
        top: 0; left: 0;
        top: calc(50% - #{$iconBorderWidth}/2);
        left: calc(50% - #{$iconBorderWidth}/2);
        width: $iconBorderWidth;
        height: $iconBorderWidth;
        border-radius: 999px;
        border: 2px solid;
        pointer-events: none;
      }
    }

    > strong {
      display: block;
    }
  }
}
