.jobs {
  background: center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: $white;
  padding-top: spacer(4);
  padding-bottom: spacer(4);
  margin-bottom: 0 !important;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background-color: $blue-dark;
    opacity: .9;
  }

  @supports(mix-blend-mode: color) {

    &:after {
      mix-blend-mode: color;
    }
  }

  &__text {
    margin-bottom: spacer(4);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $white !important;

      &:after {
        @extend .wp-block-separator;
        content: '';
        background: currentColor !important;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,40em));
    justify-content: center;
    grid-gap: spacer(2);
    list-style: none;
    padding-left: spacer();
    padding-right: spacer();
    margin-top: spacer(2);
    margin-bottom: 0;

    @include media('<=phone') {
      grid-template-columns: none;
    }

    @include ie11() {
      display: flex;

      > * {
        flex-basis: calc(33% - #{$spacer*2});
        margin: spacer();
      }
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    color: $white;
    border: 1px solid rgba($white,.5);
    border-radius: .5em;
    padding: spacer();

    strong {
      display: block;
      font-size: 1.15em;
    }

    time {
      display: block;
      font-style: italic;
      margin-top: .5em;
    }

    span {
      display: inline-block;
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-top: 1em;
        margin-right: 1.25em;
      }

      .fa {
        margin-right: .3em;
        font-size: 1em;
        color: inherit;
      }

      &.domain .fa:before {
        content: '\f085'; // https://fontawesome.com/icons/cogs
      }

      &.place .fa:before {
        content: '\f041'; // https://fontawesome.com/icons/map-marker-alt
      }

      &.type .fa:before {
        content: '\f15b'; // https://fontawesome.com/icons/file
      }
    }

    small {
      display: block;
      margin-top: 1em;
    }

    .btn {
      font-weight: bold;
      margin-top: 1em;
      margin-left: 50%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, $blue, $green);
    }
  }
}
