.map {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: calc(2vh * -4) !important;

  @media screen and (max-width: 767px) { flex-direction: column-reverse; }

  .approach__item{
    opacity: 1;
    z-index: 0;
    left: -160px;
    top: 90%;
    max-width: 26vw;
  }

  &__wrapper {
    position: relative;
    width: 60%;
    margin-left: auto;

    @media screen and (max-width: 767px) {   width: 100%;}

    &:after{
      content: '';
      position: absolute;
      pointer-events: none;
      left: 10%;
      top: -30%;
      z-index: 0;
      width: 125%;
      padding-bottom: 88%;
      box-shadow: 0 0 0 100vw #f8fafd;
      border-radius: 33%;
      transform: rotate(-24deg);
      @media screen and (max-width: 1024px) {top: -10%;}
      @media screen and (max-width: 767px) { display: none;}
    }

    // @include notie11() {
    //   position: relative;
    //   padding-bottom: 100%;
    //
    //   @include media('>desktop') {
    //     max-width: 60%;
    //     padding-bottom: 60%;
    //     margin-left: auto;
    //   }
    // }
  }

  .gmap {
    height: 600px;
    @media screen and (min-width: 1920px){
      height: 900px;
    }

    // @include ie11() {
    //   height: 600px;
    // }

    // @include notie11() {
    //   position: absolute !important;
    //   top: 0; left: 0; bottom: 0; right: 0;
    //
    //   @include media('>desktop') {
    //
    //     &:after {
    //       content: '';
    //       position: absolute;
    //       top: 0; left: 0; bottom: 0; right: 0;
    //       border-radius: 25%;
    //       box-shadow: 0 0 0 100vw $white;
    //       transform: translate(11%, -11%) rotate(-45deg);
    //       pointer-events: none;
    //     }
    //   }
    // }
  }

  .container {
    @media screen and (max-width: 767px) { position: relative; width: 100%; }
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 1;
    justify-content: center;
    height: 100%;
  }

  &__text {


    // @include notie11() {
    //
    //   @include media('>desktop') {
    //     position: absolute;
    //     top: 70%;
    //     max-width: 30%;
    //   }
    // }
  }
}
