.news {

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 spacer(.5);
    margin-bottom: spacer(2);
  }

  &__filter {
    margin: spacer(.5);
    font-weight: bold;
  }

  &__list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(20em, 1fr) ) ;
    // grid-gap: spacer(2);
    // list-style: none;
    margin: 0;

    // @include ie11() {
    //   display: flex;
    //
    //   > * {
    //     flex-basis: calc(33% - #{$spacer*2});
    //     margin: spacer();
    //   }
    // }
  }
}
