.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 50%;
    max-width: 30em;
    padding: 0 spacer();
    margin-bottom: spacer(2);
    min-width: 20em;
    color: $gray;

    @include media('>tablet') {
      padding-left: 7.5em;
    }

    @include ie11() {

      > * {
        display: inline-block;
        max-width: 100%;
      }
    }

    img {
      width: 15em;
      filter: drop-shadow(0 10px 10px rgba(black,.15));
      transform: translateZ(0); // Avoid graphic glitch on iOS

      @include media('>tablet') {
        margin-left: -7.5em;
      }
    }

    em {
      display: block;
      font-style: normal;
      font-size: .8em;
    }

    .btn {
      margin-top: auto;

      @include media('>tablet') {
        margin-left: -1.5em;
      }
    }
  }
}
