.references {
  text-align: center;

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &:before,
    &:after {
      content: '';
      flex: 1 1 auto;
      height: 1px;
    }
  }

  &__item {
    flex: 0 0 auto;
    margin: spacer();
  }
}
