.resources {

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: spacer(2);
    margin-bottom: spacer(2);
    padding-left: spacer();
    padding-right: spacer();

    .btn{
      background-color: $green-text;
      outline: none;
      &.is-selected{
        background-color: transparent;
        box-shadow: 0 0 0 2px $green-text inset;
        color: $green-text;
      }
    }
  }

  &__filter {
    margin: spacer(.5);
  }
  &__image {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__list {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(16em, 1fr) ) ;
    // grid-gap: spacer(2);
    list-style: none;
    padding-left: spacer();
    padding-right: spacer();
    margin: 0;

    @include ie11() {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex-basis: calc(33% - #{$spacer*2});
        flex-grow: 1;
        flex-shrink: 0;
        min-width: 300px;
        margin: spacer();
      }
    }
  }

  &__item {
    flex-grow: 0;
    flex-basis: calc(25% - 2vh);
    flex-shrink: 0;
    margin: 1vh;
    margin-bottom: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;

    .image-wrapper{
      margin-left: auto;
      margin-right: auto;
      box-shadow: 3px 0px 31.69px -6.69px rgba(4, 1, 3, 0.15);
      transform: rotate(45deg);
      background-color: white;
      width: 80%;
      padding-bottom: 80%;
      margin-bottom: 25px;
      border-radius: 34%;
      position: relative;
      img{
        box-shadow: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%,-50%, 0) rotate(-45deg);
        width: 75%;
      }

      span {
        @include media('<=phone'){ display: none; }
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45%;
        left: -25%;
        z-index: 1;
        width: 7em; height: 7em;
        color: $green-text;
        font-size: .85em;
        transform: translateY(-50%) rotate(-45deg);

        &:before {
          content: '';
          position: absolute;
          top: 50%; left: 50%;
          width: 100%;
          padding-bottom: 100%;
          z-index: -1;
          border-radius: 25%;
          background-color: $white;
          box-shadow: 10px 10px 20px rgba($black,.15);
          transform: translate(-50%,-50%) rotate(45deg) scale(.8);
        }
      }
    }

    @include media('<=phone') {
      display: grid;
      grid-template-areas: "a b" "a c";

      .resources__image {
        grid-area: a;
        height: auto;
      }

      strong {
        grid-area: b;
        padding-left: spacer();
        align-self: flex-end;
      }

      small {
        grid-area: c;
        padding-left: spacer();
      }
    }

    &.is-hidden {
      display: none;
    }

    img {
      position: relative;

      @include media('>phone') {
        box-shadow: 10px 10px 20px rgba($black,.1);
        margin-bottom: spacer();
      }
    }

    strong {
    }
  }
}
