// Force specificity
.share {

  body:not(.has-cover) & {
  top: 150px;
  }

  position: relative;
  margin-top: spacer(4);
  margin-bottom: 30px;

  @include media('>desktop') { right: -100px;}
  @include media('<=desktop') { font-size: .8em;}

  &__inner {
    display: inline-block;


    @include media('>desktop') {
      position: absolute;
      left: 100%;
      top: 450px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: spacer(.5);
    font-weight: bold;
    font-size: 1.25em;

    @include media('>desktop') {
      position: absolute;
      left: 50%;
      bottom: 100%;
      transform: translateX(-50%);
      text-align: center;
      width: 300%;
    }
  }

  .addtoany_list {
    display: inline-block;

    > a {
      font-size: 1em;
      width: 5.5em;
      height: 5.5em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      border: 2px solid;
      padding: 1.5em;
      color: $green-text;

      &:hover,
      &:focus {
        background-color: $green-text;
        border-color: $green-text;
        color: $white;
      }

      &:not(:first-child) {

        @include media('>desktop') {
          margin-top: 1em;
        }

        @include media('<=desktop') {
          margin-left: 1em;
        }
      }

      @include media('<=desktop') {
        font-size: .8em;
      }

      @include media('<=phone') {
        font-size: .6em;
      }

      span,
      svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      path {
        fill: currentColor
      }
    }
  }
}
