.slider-text {

  &__list {
    max-width: 40em;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    position: relative;
  }

  &__item {
    p {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }
}
