.slider {
  position: relative;
  max-width: 100%;
  // padding-bottom: 80%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 10px 20px rgba($black,.5));
  transform: translateZ(0);

  .alveole {
    filter: none;
  }

  &__list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
    // position: absolute;
    // top: 0; left: 0; right: 0; bottom: 0;
    height: 600px;
    @include media('<=phone') { height: 350px; }
    transform: translateZ(0);
  }

  &__item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 250ms;

    &:not(.is-selected) {
      opacity: 0;
      pointer-events: none;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    display: flex;
    width: 3em; height: 3em;
    background-color: $orange;
    position: absolute;
    top: 90%;
    padding: 0;
    border: none;
    padding: .9em;
    border-radius: 25%;
    cursor: pointer;
    transition: all 200ms;
    transform: perspective(100px) translateZ(0) rotate(45deg);

    &:hover,
    &:focus {
      transform: perspective(100px) translateZ(10px) rotate(45deg);
      box-shadow: 0 5px 15px rgba($black,.15);
    }

    svg {
      width: 100%;
      height: 100%;
      margin: auto;
      color: white;
      transform: rotate(-45deg);
    }

    &-prev {
      right: 50%;
      margin-right: 20%;
    }

    &-next {
      left: 50%;
      margin-left: 20%;
    }
  }
}
