.split {
  max-width: none !important;
  padding-left: 0;
  padding-right: 0;

  @include media('>tablet') {
    display: flex;
    align-items: stretch;
  }

  &__item,
  .wp-block-column {
    flex: 0 0 50%;
    background-image: linear-gradient(to right, $blue, $green);
    padding: spacer(4);
    color: white;
    box-shadow: 0 0 5vw rgba($black,.5);

    a {
      @extend .btn;
    }

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
}
