.summary {
  position: relative;
  height: 100px;
  top: 0;
  z-index: 3;
  background-color: $white;

  .sticky {
    width: 100%;
    background-color: $white;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: spacer(1) auto;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding-right: spacer();

    &:before,
    &:after {
      content: '';
      flex: 1 0 auto; // Trick to fake center alignment when the screen is large enough
      display: inline-block; // Force IE to set flex on IE 10
    }

    // Fix flex bug no right space
    &:after {
      width: spacer();
      height: 1px;
    }

    @include media('<=tablet') {
      font-size: .9em;
    }
  }

  &__item {
    padding: .5em 0;
    margin: spacer();
    font-family: $cursive;
    border-bottom: 2px solid;
    text-decoration: none;
    transition:  color .2s $ease-out;
    color: $grey;
    &.active{
      color: $green-text;
    }
  }
}
