.tabs {

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: spacer(2) auto;
    padding: 0 spacer(.5);
  }

  &__link {
    margin: spacer(.5);
    &:empty {
      display: none;
    }
  }

  &__panel {
    padding-left: spacer();
    padding-right: spacer();

    &:not(.is-selected) {
      display: none;
    }
  }
}
