.testimonies {

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;

    @include media('<=phone') {
      .flickity-viewport { margin-bottom: 150px; }
    }
  }

  &__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media('>phone') {
      display: flex;
      align-items: center;
    }

    &__img {
      width: 50%;
      flex: 0 0 auto;

      @include media('<=phone') {
        width: 45%;
        margin: 10% 0 spacer(-1) spacer(-1);
      }
    }

    &__text {

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }

      h1, h2, h3, h4, h5, h6 {

        &:after {
          content: '';
          display: block;
          width: 1.5em; height: 1.5em;
          background: center left no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 90 60' style='enable-background:new 0 0 90 60;' xml:space='preserve'%3E%3Cpath fill='%23F1C044' d='M70.1,40c11,0,19.9-9,19.9-20S81,0,70,0S50,9,50,20c0,22.1,17.9,40,40,40C90,60,76.9,55.1,70.1,40z M40,20 C40,9,31,0,20,0S0,9,0,20l0,0c0,22.1,17.9,40,40,40c0,0-13.1-4.9-19.9-20C31.1,40,40,31,40,20z'/%3E%3C/svg%3E%0A");
          background-size: contain;
          margin: spacer() 0;
        }
      }
    }
  }
}
