.video {
  position: relative;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    color: $blue;
    width: 5em; height: 5em;
    position: absolute;
    z-index: 2;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;

    @include media('<=phone') {
      width: 4em; height: 4em;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  iframe {
    max-width: 100%;
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    outline: 100vh solid rgba($black,.75);
    box-shadow: 0 20px 20px -10px black;
    background-color: black;
  }

  &.is-active iframe {
    display: block;
  }
}
