@import "common/__variables";
@import "~include-media/dist/include-media";

@import "components/*";
@import "blocks/*";

.edit-post-layout__content {

  @import "~normalize.css/normalize.css";
  @import "common/*";

  .editor-block-list__block {
    font-family: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
    line-height: inherit !important;
    margin-left: auto !important;
    margin-right: auto !important;

    .editor-block-list__block-edit {
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &[data-type*="acf/cover"] {
      position: relative;

      &:after {
        content: attr(aria-label);
        position: absolute;
        top: .5em;
        right: 2em;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: .8em;
        opacity: .2;
        font-weight: bold;
        letter-spacing: .05em;
      }
    }
  }

  .acf-field {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    .description {
      font-size: .8em;
    }
  }

  .editor-block-list__insertion-point-button {
    border-color: $white;
  }
}
