.alveole {
  display: block;
  width: 80%;
  padding-bottom: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0 0px 40px rgba(0,0,0,0.3);
  transform: rotate(45deg) scale(.8);

  > * {
    position: absolute;
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%) rotate(-45deg) scale(1.25);
  }
}
