.btn, .wp-block-button__link {
  display: inline-block;
  background-color: $orange;
  font-family: $cursive;
  color: $white;
  border-radius: 999px;
  border: none;
  padding: .5em 1.5em .45em;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
  transform: perspective(100px) translateZ(0);
  filter: drop-shadow(0 5px 15px rgba($black,0));

  &:hover,
  &:focus {
    transform: perspective(100px) translateZ(10px);
    filter: drop-shadow(0 5px 15px rgba($black,.1));
  }

  &.is-selected {
    background-color: transparent;
    box-shadow: 0 0 0 2px $orange inset;
    color: $orange;
  }

  &-alternate {
    background-color: $green-text;

    &.is-selected {
      background-color: transparent;
      box-shadow: 0 0 0 2px $green-text inset;
      color: $green-text;
    }
  }
}
