.seopress-user-consent {
	background-color: $white !important;
	color: $black !important;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: center;
	padding: 1.2em;
	font-weight: bold;
	font-size: 0.85em;
	box-shadow: 0 0 10px rgba($black, 0.25);

	button, span {
		appearance: none;
		border: none !important;
		color: $white;
		padding: 0.5em 0.75em;
		text-decoration: none;
		cursor: pointer;
	}

	button {
	  background-color: $orange;
	  font-weight: 700;
	}

	span {
		background-color: $black;
	  bottom: 100%;
	  transform: translateY(50%);
	  border-radius: 999px;
	  width: 2em; height: 2em;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
}
