.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $cursive;
  margin-top: spacer(4);
  padding-top: spacer(2);
  padding-bottom: spacer(4);
  background-color: white;

  @include media('<=tablet') {
    flex-direction: column;
    align-items: center;

    &__nav { order: 1; }
    &__links { order: 2; }
    &__social { order: 3; }
    &__langs { order: 4; }
    &__mentions { order: 5; }
  }

  &__nav {
    display: flex;
  }

  &__menu {
    list-style: none;
    padding-left: 0;
    margin: 0;

    @include media('>phone') {
      display: flex;
    }

    > li {
      @include media('>phone') {
        margin-right: spacer(2);
      }

      @include media('<=phone') {
        margin-bottom: spacer();
      }

      > a {
        color: $green-text;
        text-decoration: none;
        font-weight: bold;
        padding: .5em 0;
      }

      > ul {
        padding-left: 0;
        list-style: none;
        font-size: .9em;

        > li {

          > a {
            color: $gray;
            text-decoration: none;
            padding: .5em 0;
          }
        }
      }
    }
  }

  &__social {
    max-width: 10em;
    color: $gray;
    margin: 0;

    @include media('<=tablet') {
      margin: spacer() auto;
    }

    > span {
      display: block;

      @include media('<=tablet') {
        display: none;
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.5em; height: 2.5em;
      color: white;
      border-radius: .75em;
      padding: .5em;
      margin: .5em;
      transform: rotate(45deg);

      svg {
        transform: rotate(-45deg);
      }

      path {
        fill: currentColor
      }

      &-facebook {
        background-color: #3c5699;
      }

      &-linkedin {
        background-color: #1074b3;
      }
    }
  }

  &__links {

    @include media('>tablet') {
      margin-left: spacer();
    }

    @include media('<=tablet') {
      margin-left: auto;
      margin-right: auto;
      margin-top: spacer();
    }

    .btn {
      display: block;
      margin-bottom: 1em;
      text-align: center;
    }
  }

  &__sep {
    flex: 0 0 100%;
    visibility: hidden;
    margin-top: spacer(4);
  }

  &__mentions {
    flex: 0 1 calc(100% - 10em);
    color: $gray-light;
    font-size: .8em;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-weight: inherit;
    }
  }

  &__langs {
    display: flex;
    align-self: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: .8em;
    text-transform: uppercase;
    color: $gray-light;

    @include media('<=tablet') {
      margin-bottom: spacer();
    }

    li {
      display: flex;

      &:not(:first-child):before {
        content: '';
        display: inline-block;
        height: 60%;
        margin-top: auto;
        margin-bottom: auto;
        border-left: 1px solid;
        opacity: .65;
      }
    }

    a {
      text-decoration: none;
      padding: 0 1em;
      color: inherit;
      font-weight: inherit;
    }
  }

  &__floating {
    position: fixed;
    bottom: 0; right: spacer();
    margin: 0;

    .btn {
      background-image: linear-gradient(to right, $blue, $green);
      border-radius: 1em 1em 0 0;

      .fa {
        font-size: 1.5em;
        line-height: 1.4;
      }
    }
  }
}
