.header {
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  margin-top: spacer();
  margin-bottom: spacer();
  font-family: $cursive;
  color: $green-text;

  body.has-cover:not(.home) & {
    color: $white;
  }

  &__logo {
    flex: 0 1 auto;
    width: 12em;
    max-width: 40%;
    margin-right: auto;

    svg {
      display: block;
      max-width: 100%;
      height: auto;

      @include media('>phone') {
        transform: translateY(-5%); // Visually align vertically
      }

      body.has-cover:not(.home) & {

        path {
          fill: $white;
        }
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: .5em;
    background-color: $orange;
    color: white;
    border-radius: 999px;
    margin: -.3em;

    @include media('>large') {
      display: none;
    }
  }

  &__hamburger {
    appearance: none;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: inherit;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 2;
    margin-left: spacer(.5);
    outline: none;

    @include media('>large') {
      display: none;
    }

    span {
      position: absolute;
      border-radius: 999px;
    }

    .close {
      background-color: $white;
      top: 50%; left: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
      animation: hamburgerCloseIn 350ms both $ease-out-back;

      body.is-menu-open &,
      .header__nav:focus-within ~ & {
        animation-name: hamburgerCloseOut;
        animation-delay: 150ms;
      }

      body.is-menu-open.isIE &, body.is-menu-open.isSafari & {
        animation-name: hamburgerCloseOut;
        animation-delay: 150ms;
      }

      &:nth-child(5) {
        animation-name: hamburgerCloseIn2;
        animation-delay: 100ms;

        body.is-menu-open &,
        .header__nav:focus-within ~ & {
          animation-name: hamburgerCloseOut2;
          animation-delay: 250ms;
        }
      }
    }

    .open {
      background-color: $green-text;
      width: 24px;
      height: 4px;
      animation: hamburgerOpenIn 350ms both $ease-out-back;

      body.is-menu-open &,
      .header__nav:focus-within ~ & {
        animation-name: hamburgerOpenOut;
        animation-delay: 0ms;
      }

      &:nth-child(2) {
        animation-delay: 100ms;

        body.is-menu-open &,
        .header__nav:focus-within ~ & {
          animation-delay: 100ms;
        }
      }

      &:nth-child(3) {
        animation-delay: 150ms;

        body.is-menu-open &,
        .header__nav:focus-within ~ & {
          animation-delay: 200ms;
        }
      }
    }

    @include media('>large') {
      display: none;
    }
  }

  &__nav {
    ul { list-style-type: none !important; }
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    opacity: 0.9;
    body.is-menu-open.isIE &, body.is-menu-open.isSafari &{
      display: block !important;
      position: fixed;
      width: 100%;
      height: 100%;
      pointer-events: all;
      top: 0;
      left: 0;
      clip-path: inherit;
    }

    @include media('<=large') {
      display: none;
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      z-index: 1;
      flex-direction: column;
      justify-content: flex-start;
      // background-image: linear-gradient(to right, $blue, $green);
      background-color: $green-text;
      color: white;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      pointer-events: none;

      // Center content without overflow
      &:before,
      &:after {
        content: '';
        flex: 1;
      }

      @supports(clip-path: circle(0px at 0)) {
        --center: 100% 0; // Overriden by JS
        display: flex;
        transition: all 400ms $ease-in-sine;
        clip-path: circle(0 at var(--center));

        body.is-menu-open &,
        &:focus-within {
          clip-path: circle(var(--radius) at var(--center));
          transition-timing-function: $ease-out-sine;
        }
      }

      body.is-menu-open &, &:focus-within {
        display: flex !important;
        pointer-events: auto;
      }
    }
  }

  &__menu {
    align-self: stretch;
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: stretch;
    margin: 0;

    @include media('<=large') {
      flex: 0 0 auto;
      flex-direction: column;
      font-size: calc(1vw + 1vh + .65em);
      margin: spacer(2);
    }

    > li {
      text-align: center;

      &:last-child > a {
        @extend .btn;

        @include media('>large') {
          align-self: center;
        }
      }

      @include media('>large') {
        display: flex;

        &.has-children > a:after {
          content: '▾';
          margin-left: .35em;
        }
      }

      @include media('<=large') {
        opacity: 0;
        transform: translateY(5vh);
        transition: all 150ms;
        transition-delay: 350ms; // Don't animate until nav is hidden

        body.is-menu-open & {
          opacity: 1;
          transform: translateY(0);

          @for $i from 0 through 10 {
            &:nth-child(#{$i}) {
              transition-delay: 100ms + $i * 50ms;
            }
          }
        }
      }

      @include media('>large') {
        margin-left: 1em;
      }

      @include media('<=large') {
        margin-top: .5em;
        margin-bottom: .5em;
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        padding: .5em;
      }

      > a:hover + ul,
      > a:focus + ul {
        transform: translateY(0);
      }

      > ul {
        padding-left: 0;
        list-style: none;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include media('>large') {
          position: absolute;
          top: spacer(-1); left: spacer(-1); right: spacer(-1);
          z-index: -1;
          background-color: $blue-dark;
          padding-top: spacer(6);
          padding-bottom: spacer(3);
          transform: translateY(-100%);
          transition: transform 350ms;

          &:hover,
          &:focus {
            transform: translateY(0);
          }

          &:focus-within {
            transform: translateY(0);
          }

          &:before {
            content: attr(data-parent);
            display: block;
            flex: 0 0 auto;
            width: 100%;
            text-align: center;
            color: $white;
            font-size: 2em;
            margin-bottom: spacer(2);
          }
        }

        > li {
          margin: spacer();

          > a {
            display: block;
            color: $white;

            > img {
              width: 10em;

              @include media('<=large') {
                width: 6em;
              }
            }
          }
        }
      }
    }
  }

  &__langs {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-left: spacer();
    border-bottom: 1px solid rgba($black,.25);
    font-family: $sans-serif;

    @include media('>large') {
      margin-left: spacer(2);
    }

    @include media('<=large') {
      width: 50px;
      flex: 0 0 auto;
      margin: spacer(2) auto;
    }

    li {

      &.current-lang a {
        color: $green-text;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0; left: 50%;
          width: 7px; height: 7px;
          margin-bottom: -4px;
          margin-left: -4px;
          border-radius: 999px;
          background-color: currentColor;
        }

        @include media('<=large') {
          color: white;
        }
      }
    }

    li + li {
      margin-left: .5em;
    }

    a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: .9em;
      padding: .5em 0;
      color: rgba($black,.5);
    }
  }
}

@keyframes hamburgerOpenIn {
  from { transform: translateX(100%); }
}

@keyframes hamburgerOpenOut {
  to { transform: translateX(100%); opacity: 0; }
}

@keyframes hamburgerCloseIn {
  to { transform: translate3d(-50%,-50%,0) rotate(45deg); opacity: 0; }
}

@keyframes hamburgerCloseOut {
  from { transform: translate3d(-50%,-50%,0) rotate(0deg); opacity: 0; }
}

@keyframes hamburgerCloseIn2 {
  to { transform: translate3d(-50%,-50%,0) rotate(-45deg); opacity: 0; }
}

@keyframes hamburgerCloseOut2 {
  from { transform: translate3d(-50%,-50%,0) rotate(-90deg); opacity: 0; }
}
