.newsItem {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33% - 30px);
  @include media('<=tablet') { flex-basis: calc(50% - 30px); }
  @include media('<=phone') { flex-basis: calc(100% - 30px); }
  margin: 15px;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  color: $gray-light;
  background-color: white;
  border-radius: .5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;

  picture {
    display: block;
    margin: -2em;
    margin-bottom: 2em;
    padding-bottom: 80%;
    background-color: rgba($black,.15);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
    }
  }

  time {
    margin-bottom: 1em;
    font-style: italic;
  }

  strong {
    font-size: 1.15em;
    margin-bottom: 1em;
  }

  span {
    margin-bottom: 1em;
  }

  object {
    align-self: center;
    margin-top: auto;
  }
}

.newsItem-highlight {
  padding: 2em;

  @include media('>tablet') {
    padding-left: 50%;
    box-shadow: 0 5px 30px rgba($black,.15);

    picture {
      width: calc(50% - #{$spacer*2});
      height: 100%;
      padding-bottom: 0;
      position: absolute;
      top: 0; left: 0; bottom: 0;
      margin: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    object {
      align-self: flex-start;
    }
  }
}
