.pagination {
  margin: spacer(2) spacer(-.25);
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    margin: spacer(.25);
    background-color: $green-text;
    color: $white;
    padding: 1em;
    width: 2em; height: 2em;
    border: 2px solid transparent;
    border-radius: .5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    &.is-current {
      color: $green-text;
      border-color: $green-text;
      background-color: transparent;
    }
  }
}
