.flickity-viewport {
  overflow: visible;
}

.flickity-slider {

  > * {
    width: 100%;
    padding-left: spacer();
    padding-right: spacer();
    transition: opacity 250ms;

    .flickity-enabled & {
      margin-left: spacer();
      margin-right: spacer();

      &:not(.is-selected) {
        opacity: 0;
      }
    }
  }
}

.flickity-button.flickity-button {
  background-color: $orange;
  margin-top: calc((-#{$spacer*2} - 16px)/2); // dots height
  transition: all 200ms;
  transform: translateY(-50%) perspective(100px) translateZ(0);
  transform-origin: center;

  &:hover,
  &:focus {
    transform: translateY(-50%) perspective(100px) translateZ(10px);
    box-shadow: 0 5px 15px rgba($black,.1);
  }

  &.previous {
    left: auto;
    right: 100%;
    margin-right: spacer();
  }

  &.next {
    right: auto;
    left: 100%;
    margin-left: spacer();
  }

  path {
    fill: white;
  }
}

.flickity-page-dots {
  position: static;
  margin-top: spacer(2);
}

.dot {
  position: relative;
  transition: all 250ms;

  &:not(.is-selected):hover,
  &:not(.is-selected):focus {
    opacity: .5;
  }

  // Bigger click area
  &:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: -.5em;
  }

  &.is-selected {
    background-color: $green-text;
  }
}
