.home{
  .cover{
    overflow: visible;
    height: 650px;
    &__background{

      @include media('>1024px') {
        height: 1000px;
        width: 85%;
        margin-left: auto;
      }
    }
    &:after{
      left: initial !important;
      right: 0%;
      bottom: -10%;
      border-radius: 20%;
      padding-bottom: 68%;
      width: 75%;
      transform: translate(10%, -12%) rotate(-53deg);

      @include media('<=1750px') {
        transform: translate(6%, -12%) rotate(-53deg);
      }
      @include media('<=1650px') {
        transform: translate(2%, -12%) rotate(-53deg);
      }
      @include media('<=1550px') {
        transform: translate(-2%, -12%) rotate(-53deg);
      }
      @include media('<=1490px') {
        transform: translate(-4%, -16%) rotate(-53deg);
      }
    }
  }
}
