section.section--blue {
  width: 100%;
  padding: 30px 0;
  background: #17323c;
  max-width: none;
  color: white;

  label {
    color: white !important;
  }

  .container {
    max-width: 45rem;
  }
}


form[id*="foss-"] {
  font-family: inherit !important;
  font-size: inherit !important;
  margin-top: spacer(2) !important;
  margin-bottom: spacer(2) !important;
  overflow: visible !important;

  .control-group {
    margin-bottom: spacer(2) !important;
  }

  .control-label {
    font-family: $cursive;
    font-size: .9em !important;
    font-weight: bold;
    color: inherit !important;
    box-shadow: none !important;
  }

  .plezi-submit-btn {
    background-color: $orange !important;
    border-radius: 999px !important;
  }

  .help-inline {
    display: block;
    font-size: .8em;
    color: $gray-light;
  }
}


#foss-5b19483c40de491fec25e9d5{
  & > div{
    display: flex;
    & div {
      margin-bottom: 0 !important;
    }
  }
  input[type="submit"]{
      margin-left: 10px;
  }
}

form{

  .frm_icon_font:before {
    color: white;
  }


  .frm_dropzone {
    padding: 15px;
    border: 1px dashed white;
    border-radius: 4px;
  }
  .frm_upload_text {
    display: none;
  }
  .frm_compact_text {
    margin-left: 10px;
  }

  .frm_small_text {
    display: none !important;
  }
  .frm_fields_container .row .frm_submit{
    text-align: center;
    button.frm_button_submit{
      margin-top: 30px;
     @extend .btn;
     font-size: 20px;
     color: white;
     font-weight: bold;
    }
  }
  div.row{
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 50%;
      min-width: 300px;
      padding: 0 15px;
    }

    .frm_form_field {
        margin-left: 0 !important;
    }
    label{
      visibility: visible !important;
    }

    input{
      height: 50px !important;
      // &::-webkit-input-placeholder { color: black !important; }
      // &::-moz-placeholder { color: black !important; }
      // &:-ms-input-placeholder { color: black !important;}
      // &:-moz-placeholder { color: black !important; }
    }
  }
}
