* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden;
}

body, .edit-post-visual-editor {
  min-width: 320px;
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 1.614;
  font-weight: 500;
  color: $black;
  background-color: $white;

  @include media('<=desktop') {

    &.is-menu-open {
      overflow: hidden;
    }
  }
}

// Generic styles

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  color: $gray;
  margin-top: 0;
  margin-bottom: 0;

  & + & {
    margin-top: 0 !important;
  }

  & + p,
  & + ul,
  & + ol {
    margin-top: spacer(2) !important;
  }
}

figure {
  margin: 0;
  text-align: center;

  &.alignwide,
  &.alignfull {

    img {
      display: block;
      width: 100%;
    }
  }
}

.content,
.editor-block-list__layout {

  @include ie11() {
    overflow: hidden;
  }

  h1, h2 {
    color: $green-text;
    span{ color: $gray; }
  }

  h4 {
    color: $green-text;
    font-weight: bold;
  }

  h1 {
    font-size: 3em;
    @include media('<=tablet') { font-size: 2.3em; }
    span{ font-size: 0.6em; display: block; }
  }
  h2 {
    font-size: 3em;
    @include media('<=tablet') { font-size: 2.3em; }
  }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1em; }
  h5 { font-size: .8em; }
  h6 { font-size: .7em; }

  a:not([class]) {
    color: $green-text;
    font-weight: bold;
  }

  ol:not([class]),
  ol.mce-content-body {
    counter-reset: ol;
    list-style: none;
    padding-left: 3em;
    margin-top: spacer();
    margin-bottom: 0;

    li {
      counter-increment: ol;
      margin-top: spacer(.5);
      position: relative;

      // Alveole
      &:before {
        content: '';
        position: absolute;
        top: .15em; left: -2.5em;
        border-radius: 30%;
        width: 1.5em; height: 1.5em;
        background-color: $green-text;
        transform: rotate(45deg);
      }

      // Counter
      &:after {
        content: counter(ol);
        width: 1.5em;
        height: 1.5em;
        top: .15em; left: -2.5em;
        position: absolute;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
        font-weight: bold;
        color: $white;
      }
    }
  }

  ul:not([class]),
  ul.mce-content-body {
    list-style: none;
    padding-left: 3em;
    margin-top: spacer();
    margin-bottom: 0;

    li {
      margin-top: spacer(.5);

      &:before {
        content: '➔';
        display: inline-block;
        width: 2em;
        text-align: center;
        position: absolute;
        transform: translateX(-100%);
        color: $green-text;
      }
    }
  }

  > p, > ul, > ol {

    & + p,
    & + ul,
    & + ol {
      margin-top: spacer(2) !important;
    }
  }
}

.content,
// Only top level blocks (in Gutenberg)
div:not(.editor-inner-blocks) > .editor-block-list__layout {
  padding-left: 0;
  padding-right: 0;

  // Scaffolding

  > * {
    margin-left: auto;
    margin-right: auto;
  }

  > [data-block],
  > .wp-block-columns,
  > .editor-block-list__block {
    margin-top: spacer(4);
    margin-bottom: spacer(4);
  }

  > :first-child:not(.cover):not([data-type="acf/cover"]) {
    margin-top: spacer(10);
  }

  > :not(.alignwide):not(.alignfull):not([data-align="wide"]):not([data-align="full"]) {
    max-width: 45rem;
  }

  > h1, > h2, > h3, > h4, > h5, > h6,
  > p, > ol, > ul, > figure {
    margin-top: spacer(4);
    padding-left: spacer();
    padding-right: spacer();
  }

  > .alignwide,
  > [data-align="wide"] {
    max-width: $max-width;
  }

  > .alignfull,
  > [data-align="full"] {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: spacer();
  padding-right: spacer();
}

.contained {
  display: block;
  padding-left: contained();
  padding-right: contained();
  border-left: spacer() solid transparent;
  border-right: spacer() solid transparent;

  @include ie11() {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#__bs_notify__ {
  display: none !important;
}

body:not(.wp-admin){

  h1, h2{
    opacity: 0;
    & > div {
      white-space: nowrap;
      & > div{
      opacity: 0;
      transform: translate3D(10px, 10px, 0);
     }
    }
  }

  .wp-block-columns p, .wp-block-button{
    &[data-emergence=visible]{
      opacity: 1;
      transform: translateY(0);
    }
    opacity: 0;
    transform: translateY(60px);
    transition: all .65s $ease-out;
  }
}

section.highlight a{
  @extend .btn;
  color: #f8fafd !important;
}

.plezi-submit-btn{
  width: auto !important;
  padding: 10px 20px !important;
}

ol:not(.flickity-page-dots){
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
    $eltWidth: 25px;
    li {
      margin: 15px 0;
      position: relative;
      counter-increment: step-counter;
      padding-left: calc(#{$eltWidth} + 10px);
      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        background-color: $green-text;
        width: $eltWidth;
        height: $eltWidth;
        border-radius: 33%;
        transform: rotate(45deg);
      }
      &:after{
        z-index: 2;
        content: counter(step-counter);
        color: white;
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        font-weight: bold;
        text-align: center;
        width: $eltWidth !important;
        height: $eltWidth !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .single-post .wp-block-image.fullWidth{
    @extend .container;
    max-width: 1400px !important;
    height: 500px;
    overflow: hidden;
    figure{
      width: 100%;
      height: 100%;
    }
    img{
      margin-top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include media('<=tablet') {
        object-fit: contain;
      }
      object-position: center;
      border-radius: 10px;
    }
  }

  /* SPECIFIC BLOCK CLASSES */
  .wp-block-columns.alignwide.has-3-columns.alignTop {
    align-items: flex-start;
  }


  .newsletter-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @include media('<=desktop'){ padding: 4vh; }
    & > * {
      width: 60%;
      margin-left: 10% !important;
      @include media('<=desktop'){
        width: 100%;
      }
    }
  }
