.wp-block-columns {

  &:not(.split) {
    @extend .container;
    padding-left: 0;
    padding-right: 0;

    @include media('>tablet') {
      display: flex;
      align-items: center;
    }
  }
}

.wp-block-column {
  padding-left: spacer();
  padding-right: spacer();

  @include media('<=tablet') {

    & + & {
      margin-top: spacer(4);
    }
  }

  @include media('>tablet') {
    width: 50%;
  }

  > * {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block-image {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.wysiwyg hr,
.wp-block-separator {
  display: block;
  border: none;
  width: .7rem; height: .7rem;
  background-image: linear-gradient(to top right, $blue, $green);
  border-radius: 25%;
  transform: rotate(45deg);
  margin: spacer() auto;
}

.aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.overflow {

  @include media('>desktop') {
    margin-top: spacer(-8) !important;
    position: relative;
    z-index: 20;
  }
}
